.header{
    border: gray 2px solid;
    /* margin: 1em; */
    padding-left: 1em;
    position: fixed;
    /* width: 100%; */
    background-color: lightgray;
    border-radius: 1em;
    display: flex;
}
h2{
    margin-top: 5em;
}
ul {
    list-style: none;
    flex:1;
    margin-top:2em;
    padding:0;
}
li{
    display:inline;
    margin: 10px;
}
li a{
    padding:5px ;
    /* outline:1px solid#000 ; */
    background-color: gray;
    color: #fff;
    text-decoration: none;
    border-radius: 0.3em;

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;
}
.card-container{
    display: grid;
    gap: 0.5em;
    grid-template-columns: auto auto auto;
}
.card img{
    width: 100%;
    /* max-width: 1080px; */
}
.card{
    border: gray 2px solid;
    border-radius: 1em;
    max-width: 500px;
    margin: auto;
}
.card p, .card h3{
    margin: 0.5em;
}