.header{
    outline: 1px solid gray;;
    padding: 2em;
}
ul {
    list-style: none;
    flex:1;
    margin:0;
    padding:0;
}
li{
    display:inline;
    margin: 10px;
}
li a{
    padding:5px ;
    outline:1px solid#000 ;
    background-color: white;

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-container{
    display: grid;
    gap: 0.5em;
    grid-template-columns: auto auto auto;
}
.card img{
    width: 100%;
    /* max-width: 1080px; */
}
.card{
    border: gray 2px solid;
    border-radius: 1em;
}
.card p, .card h3{
    margin: 0.5em;
}